@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Metal+Mania&family=Playfair+Display&display=swap');
body {
    background-image: url(https://i.postimg.cc/Bb6ywHhM/pexels-photo-1660924.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    font-family: 'Metal Mania', cursive; 
}

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    text-align: right;
    font-weight: bold;
    font-family: Metal Mania;
}
.navbar {
    background-color: #ffffff00;
     width: 100vh;
     position: -webkit-sticky; /* Safari support */
     position: relative;
     top: 0; /* The element becomes sticky at the top of the viewport */
     padding: 10px;
     
    }

    #nav-bg{
        background-color: rgba(0, 0, 0, 0.732);
    }
      

.custom-paragraph {
    font-size: 22px;
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    height: 200px;
    width: 200px;
  }
  /*.custom-paragraph:hover {
    color: red;
  }*/
  .h2 {
    color: red;
    font-size: 60px;
  }
  a:hover{
    background-color: aqua;

  }
  #home {
    /* height: 100vh; */
    margin-right: 150px;
  }
  #home:hover{
    transform: scale(1.2);
    color: rgba(0, 255, 170, 0.69)
  }
  .h1 {
    text-align: center;
    color: red;
    font-size: 80px;
  }
  h2{
    margin-right: 120px;
    width: 50px;
    color: red;
  }
  .h1:hover{
    transform: scale(1.2);
  }
  #about:hover{
    transform: scale(1.2);
    margin-right: 150px;
    color: rgba(0, 255, 170, 0.69)
  }
  
    p {
      text-align: center;
      color: red;
      font-size: 50px;
   }
  /* p:hover{
    color: red;
   }*/
     h3{
        text-align: center;
        text-decoration: underline;
        color: beige;
        font-size: 100px;
     }
     h3:hover{
        color: rgba(0, 255, 170, 0.69);
     }
     h2:hover{
        color: rgba(0, 255, 170, 0.69);

     }
     

     #education {
        text-align: center;
        padding: 20px;
      }
      /*#education:hover{
        color: red;
      }*/
      
      .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
      }
      
      .grid-item {
        text-align: center;
      }
      
      .grid-item img {
        width: 100px;
        height: 100px;
      }
      
      .grid-item p {
        margin: 0;
      }
      .EE:hover{
        transform: scale(1.2);
        color: rgba(0, 255, 170, 0.69);
        margin-right: 200px;
      }



#skills h1 {
    color: #fff;
    font-size: 80px; 
}
  #skills h1:hover{
    transform: scale(1.2);
    color: rgba(0, 255, 170, 0.69);
  }

#skills img {
    max-width: 100%; 
}

#skills h4 {
    color: red; 
    font-weight: bold; 
    margin-top: 10px; 
}
 /*#skills h4:hover{
    color: red; 
 }*/

    .PP:hover{
        transform: scale(1.2);
        color: rgba(0, 255, 170, 0.69);
        margin-right: 150px;
    }
  .card {
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  
  .card-img-top {
    max-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  
  .card-title {
    font-size: 1.25rem;
    margin: 10px 0;
  }
  
  
  .card-text {
    font-size: 2rem;
  }
  
 
  .btn-primary {
    background-color: black;
    color: red;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 5px;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
   .TT:hover{
    transform: scale(1.2);
    color: rgba(0, 255, 170, 0.69);
    margin-right: 150px;

   }

  .testimonial {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    text-align: center;
    background-color: black;
  }

  .testimonial:hover{
    transition: 0.8s ease-in-out;
    transform: rotateX(360deg);
  }

  .testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .testimonial p {
    font-size: 16px;
    line-height: 1.4;
  }

  .testimonial p strong {
    font-weight: bold;
  }
    
  .formPage{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: black;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
   
   .CC:hover{
    transform: scale(1.2);
        color: rgba(0, 255, 170, 0.69);
        margin-right: 80px;
   }
  
  input[type="text"],
  select,
  textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  select {
    width: 100%;
  }
  
  textarea {
    resize: vertical;
  }
  
  input[type="submit"] {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: aqua;
  }


@media screen and (max-width: 600px) {
    header, nav, main, footer {
        width: 100%;
    }
}  

img[alt='profile']{
    position: absolute;
    left: 40%;
    top: 40%;
    width: 250px;
    height: auto;
}
.testimonial:hover{
    animation: name 1s;

}

@keyframes testimonial {
    
}
#number {
    color: red;
}