@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Metal+Mania&family=Playfair+Display&display=swap');
body {
    background-image: url(https://i.postimg.cc/Bb6ywHhM/pexels-photo-1660924.webp);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Metal Mania;
}
h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    text-align: right;
    font-weight: bold;
    font-family: Metal Mania;
}
.navbar {
     width: 100vh;
}

.custom-paragraph {
    font-size: 22px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 200px;
    height: 200px;
    width: 200px;
  }
  .h2 {
    color: white;
    font-size: 60px;
  }
  a:hover{
    background-color: aqua;

  }
  #home {
    height: 100vh;
  }
  .h1 {
    text-align: center;
    color: white;
    font-size: 80px;
  }
  
    p {
      text-align: center;
      color: white;
      font-size: 50px;
   }
     h2{
        text-align: center;
        text-decoration: underline;
        color: beige;
        font-size: 100px;
     }

     #education {
        text-align: center;
        padding: 20px;
      }
      
      .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
      }
      
      .grid-item {
        text-align: center;
      }
      
      .grid-item img {
        width: 100px;
        height: 100px;
      }
      
      .grid-item p {
        margin: 0;
      }



#skills h1 {
    color: #fff;
    font-size: 80px; 
}

#skills img {
    max-width: 100%; 
}

#skills h4 {
    color: #fff; 
    font-weight: bold; 
    margin-top: 10px; 
}

      